<div class="mt-4">
    <div class="row">        
        {{#each manga}}
        <div class="col-sm-6 col-lg-4">
            <div class="card card-manga-item">
                <a href="manga/{{this.slug}}">
                    <img class="card-img-top" src="{{this.img}}" alt="Card image cap">
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{this.name}}</h5>
                    <p class="card-text">{{this.desc}}</p>
                    <a href="manga/{{this.slug}}" class="btn btn-primary">read</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>